/* StartUp Matchmaker Styles */

.body {
	margin: 0 0;
	/*padding: 0 0;*/
}

.logo {
	font-size: 36px;
	color: Yellow;
}

.tagline {
	font-size: 32px;
	text-align: center;
	text-decoration: italic;
}

.hero-img {
	background-image: url('../images/coworking.jpg');
	background-size: cover;
	height: 400px;
}

.float-right {
	float: right;
	position: relative;
	margin: 40px 30px 0 0;
}

.black {
	background: Black;
}

.grey {
	background: #e3e3e3;
}

.menu {
	list-style: none;
	margin-right: 20px;
}

.menu a {
	text-decoration: none;
	color: white;
}

.menu li {
	display: inline-block;
}

.scratch-out {
	color: Grey;
}

.underline {
	border-bottom: 3px solid Yellow;
}

.hero-textbox {
	background: rgba(255,255,255, .6);
	height: 270px;
	padding: 0 10px;
	border: 1px solid Grey;
	/*margin: 20px 20px 0 0;*/
	position: relative;
	text-align: center;
}

.hero-btn {
	background: Yellow;
	border-radius: 10%;
	/*text-align: right;*/
}

.small-feature	 {
	border-right: 2px solid #e3e3e3;
	margin: 3px 35px;
	/*padding: 0 1px;*/
}

.small-feature:after {
	content: ''
	;
}

.footer {
	color: white;
	font-weight: bold;
	padding-left: 10px;
}




